<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فارما | ساخت فرم</title>
    <link rel="icon" type="image/x-icon" href="/entity/atom (1).svg">
    <link rel="stylesheet" href="/style_form_creator.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="total-page">
        <div class="menu-bar">
            <div class="logo"><img src="/entity/atom (1).svg" alt="farmaa" width="40" height="40"><h1>فارما</h1></div>

            <h1>{{FormName}}</h1>

            
            <a href="/index.html"><img src="/entity/home.svg" alt="Farmaa" width="20" height="20"></a>
        </div>

        <div class="main-box">
            <div class="form-and-template">
                <div class="templates">
                    <div class="style-temp" @click="template('scratch')" :class="{active:temp1}">طرح خام</div>
                    <div class="style-temp" @click="template('office')" :class="{active:temp2}">طرح اداری</div>
                    <div class="style-temp " @click="template('simple')" :class="{active:temp3}">طرح ساده</div>
                </div>

                <form v-if="temp1"  @dragover="ondragover" @drop="ondrop" @click="handleClose" class="printable-form">
                    <div class="form">
                        <div class="name-form">
                            <div class="main-sub" @click="isEditing" :class="{borderOn: isEdit }">
                                <input type="text" v-model="FormName" class="font-big" ><br>
                                <input type="text" v-model="sub_FormName" class="font-small" placeholder="زیر عنوان را وارد کنید" v-show="sub_FormName !== '' || isEdit">
                            </div>
                        </div>

                        <div>
                            <span v-show="dropText" class="place-drop">آیتم را اینجا رها کنید</span>
                        </div>

                        

                        <div v-for="(field,index) in fields" :key="index" class="form-items" @click="edit_item(index)" :class="{borderOn: edit_index === index}">
                            <div class="text-item">
                            {{field.title}}
                            </div>


                            <button class="delete-button" v-show="edit_index === index" type="button" @click="deleteItem('temp1',index)">
                                <span>
                                    حذف
                                </span>
                                <img src="/entity/trash.svg" alt="delete" width="13" height="13">
                            </button>


                            <input type="text" v-if="field.type === 'title' " v-model="field.value" placeholder="لطفا عنوان را وارد کنید" class="input-items">

                            <div v-else-if="field.type === 'info'" class="multi-items">
                                <div class="between-items">
                                    <input type="text" placeholder="نام" class="input-items" v-model="field.value.fname">
                                    <input type="text" placeholder="نام خانوادگی"  class="input-items" v-model="field.value.lname">
                                </div>
                                <div class="between-items">
                                    <input type="number" min="0" placeholder="سن" class="input-items" v-model="field.value.age">
                                    <input type="text" placeholder="کد ملی" class="input-items" v-model="field.value.national_code">   
                                </div>
                                
                            </div>

                            <div v-else-if="field.type === 'date'" class="between-items">
                                <input type="date" placeholder="" class="input-items" v-model="field.value.calender">
                                <input type="time" class="input-items" v-model="field.value.time">
                            </div>
                            
                            <input type="tel" v-else-if="field.type === 'tel'" v-model="field.value" placeholder="0903-026-4911" class="input-items tel-style">
                            <input type="email" v-else-if="field.type === 'email' " v-model="field.value" placeholder="shayan@gmail.com" class="input-items direction">
                            <textarea v-else-if="field.type === 'text' " v-model="field.value" placeholder="متن خود را وارد کنید" class="input-items "></textarea>
                            
                            <div v-else-if="field.type === 'address' ">
                                <input placeholder="استان" class="input-items" v-model="field.value.province">
                                <input placeholder="شهر" class="input-items" v-model="field.value.city">
                                <input placeholder="خیابان" class="input-items" v-model="field.value.street">
                                <input placeholder="پلاک" class="input-items" v-model="field.value.number">
                                <input placeholder="واحد" class="input-items" v-model="field.value.unit">
                            </div>
                            <input v-else-if="field.type === 'file' " placeholder="" type="file">
                            <span v-else-if="field.type === 'signeture' " class="signeture">محل امضا:</span>
                                
                        </div>


                        
                        <div id="save-print">
                            <button class="form-button" @click="print">
                                <img src="/entity/download.svg" alt="download" width="20" height="20">
                                <span>دانلود</span>
                            </button>
                            <button class="form-button" @click="sendData">
                                <img src="/entity/file.svg" alt="save" width="20" height="20">
                                <span>ذخیره</span>
                            </button>
                        </div>

                    </div>
                </form>

                <form v-else-if="temp2"  @dragover="ondragover" @drop="ondrop" @click="handleClose" class="printable-form">
                    <div class="form"> 
                        <div class="name-form">
                            <div class="main-sub" @click="isEditing" :class="{borderOn: isEdit }">
                                <input type="text" v-model="FormName" class="font-big" ><br>
                                <input type="text" v-model="sub_FormName" class="font-small" placeholder="زیر عنوان را وارد کنید" v-show="sub_FormName !== '' || isEdit">
                            </div>
                        </div>

                        <div>
                            <span v-show="dropText" class="place-drop">آیتم را اینجا رها کنید</span>
                        </div>

                        

                        <div v-for="(field,index) in fields_office" :key="index" class="form-items" @click="edit_item(index)" :class="{borderOn: edit_index === index}">
                            <div class="text-item">
                            {{field.title}}
                            </div>


                            <button class="delete-button" v-show="edit_index === index" type="button" @click="deleteItem('temp2',index)">
                                <span>
                                    حذف
                                </span>
                                <img src="/entity/trash.svg" alt="delete" width="13" height="13">
                            </button>


                            <input type="text" v-if="field.type === 'title' " v-model="field.value" placeholder="لطفا عنوان را وارد کنید" class="input-items">

                            <div v-else-if="field.type === 'info'" class="multi-items">
                                <div class="between-items">
                                    <input type="text" placeholder="نام" class="input-items" v-model="field.value.fname">
                                    <input type="text" placeholder="نام خانوادگی"  class="input-items" v-model="field.value.lname">
                                </div>
                                <div class="between-items">
                                    <input type="number" min="0" placeholder="سن" class="input-items" v-model="field.value.age" >
                                    <input type="text" placeholder="کد ملی" class="input-items" v-model="field.value.national_code">   
                                </div>
                                
                            </div>

                            <div v-else-if="field.type === 'date'" class="between-items">
                                <input type="date" placeholder="" class="input-items" v-model="field.value.calender">
                                <input type="time" class="input-items" v-model="field.value.time">
                            </div>
                            
                            <input type="tel" v-else-if="field.type === 'tel'" v-model="field.value" placeholder="0903-026-4911" class="input-items tel-style">
                            <input type="email" v-else-if="field.type === 'email' " v-model="field.value" placeholder="shayan@gmail.com" class="input-items direction">
                            <textarea v-else-if="field.type === 'text' " v-model="field.value" placeholder="متن خود را وارد کنید" class="input-items "></textarea>
                            
                            <div v-else-if="field.type === 'address' ">
                                <input placeholder="استان" class="input-items" v-model="field.value.province">
                                <input placeholder="شهر" class="input-items" v-model="field.value.city">
                                <input placeholder="خیابان" class="input-items" v-model="field.value.street">
                                <input placeholder="پلاک" class="input-items" v-model="field.value.number">
                                <input placeholder="واحد" class="input-items" v-model="field.value.unit">
                            </div>
                            <input v-else-if="field.type === 'file' " placeholder="" type="file">
                            <span v-else-if="field.type === 'signeture' " class="signeture">محل امضا:</span>
                                
                        </div>


                        
                        <div id="save-print">
                            <button class="form-button" @click="print">
                                <img src="/entity/download.svg" alt="download" width="20" height="20">
                                <span>دانلود</span>
                            </button>
                            <button class="form-button" @click="sendData">
                                <img src="/entity/file.svg" alt="save" width="20" height="20">
                                <span>ذخیره</span>
                            </button>
                        </div>

                    </div>
                </form>


                <form v-else @dragover="ondragover" @drop="ondrop" @click="handleClose" class="printable-form">
                    <div class="form">
                        <div class="name-form">
                            <div class="main-sub" @click="isEditing" :class="{borderOn: isEdit }">
                                <input type="text" v-model="FormName" class="font-big" ><br>
                                <input type="text" v-model="sub_FormName" class="font-small" placeholder="زیر عنوان را وارد کنید" v-show="sub_FormName !== '' || isEdit">
                            </div>
                        </div>

                        <div>
                            <span v-show="dropText" class="place-drop">آیتم را اینجا رها کنید</span>
                        </div>

                        

                        <div v-for="(field,index) in fields_simple" :key="index" class="form-items" @click="edit_item(index)" :class="{borderOn: edit_index === index}">
                            <div class="text-item">
                            {{field.title}}
                            </div>


                            <button class="delete-button" v-show="edit_index === index" type="button" @click="deleteItem('temp3',index)">
                                <span>
                                    حذف
                                </span>
                                <img src="/entity/trash.svg" alt="delete" width="13" height="13">
                            </button>


                            <input type="text" v-if="field.type === 'title' " v-model="field.value"  placeholder="لطفا عنوان را وارد کنید" class="input-items">

                            <div v-else-if="field.type === 'info'" class="multi-items">
                                <div class="between-items">
                                    <input type="text" placeholder="نام" class="input-items" v-model="field.value.fname">
                                    <input type="text" placeholder="نام خانوادگی"  class="input-items" v-model="field.value.lname">
                                </div>
                                <div class="between-items">
                                    <input type="number" min="0" placeholder="سن" class="input-items" v-model="field.value.age" >
                                    <input type="text" placeholder="کد ملی" class="input-items" v-model="field.value.national_code">   
                                </div>
                                
                            </div>

                            <div v-else-if="field.type === 'date'" class="between-items">
                                <input type="date" placeholder="" class="input-items" v-model="field.value.calender">
                                <input type="time" class="input-items" v-model="field.value.time">
                            </div>
                            
                            <input type="tel" v-else-if="field.type === 'tel'" v-model="field.value" placeholder="0903-026-4911" class="input-items tel-style">
                            <input type="email" v-else-if="field.type === 'email' " v-model="field.value" placeholder="shayan@gmail.com" class="input-items direction">
                            <textarea v-else-if="field.type === 'text' " v-model="field.value" placeholder="متن خود را وارد کنید" class="input-items "></textarea>
                            
                            <div v-else-if="field.type === 'address' ">
                                <input placeholder="استان" class="input-items" v-model="field.value.province">
                                <input placeholder="شهر" class="input-items" v-model="field.value.city">
                                <input placeholder="خیابان" class="input-items" v-model="field.value.street">
                                <input placeholder="پلاک" class="input-items" v-model="field.value.number">
                                <input placeholder="واحد" class="input-items" v-model="field.value.unit">
                            </div>
                            <input v-else-if="field.type === 'file' " placeholder="" type="file">
                            <span v-else-if="field.type === 'signeture' " class="signeture">محل امضا:</span>
                                
                        </div>


                        
                        <div id="save-print">
                            <button class="form-button" @click="print">
                                <img src="/entity/download.svg" alt="download" width="20" height="20">
                                <span>دانلود</span>
                            </button>
                            <button class="form-button" @click="sendData">
                                <img src="/entity/file.svg" alt="save" width="20" height="20">
                                <span>ذخیره</span>
                            </button>
                        </div>

                    </div>
                </form>



            </div>
            <div class="items-menu">

                <button class="preview-button" type="button">پیش نمایش فرم</button>

                <div id="menu">
                    <div class="item" draggable="true" @dragstart="ondrag($event,'عنوان')">عنوان</div>
                    <div class="item" draggable="true" @dragstart="ondrag($event,'اطلاعات هویتی')">اطلاعات هویتی</div>
                    <div class="item" draggable="true" @dragstart="ondrag($event,'تاریخ')">تاریخ</div>
                    <div class="item" draggable="true" @dragstart="ondrag($event,'شماره تلفن')">شماره تلفن</div>
                    <div class="item" draggable="true" @dragstart="ondrag($event,'ایمیل')">ایمیل</div>
                    <div class="item" draggable="true" @dragstart="ondrag($event,'متن')">متن</div>
                    <div class="item" draggable="true" @dragstart="ondrag($event,'آدرس')">آدرس</div>
                    <div class="item" draggable="true" @dragstart="ondrag($event,'فایل')">فایل</div>
                    <div class="item" draggable="true" @dragstart="ondrag($event,'امضا')">امضا</div>
                </div>
            </div>  
        </div>

        <div id="end-law">
            © 2025 Farmaa.ir | تمام حقوق محفوظ است
        </div>
    </div>
    <script src="/form_creator.js"></script>
</body>
</html>